<md-tab-group position="0" >
  <md-tab label="Specs & Documents" >
    GoLite Syntax Specs: <a href="http://www.cs.mcgill.ca/~cs520/2017/assignments/m1_syntax.pdf">Syntax</a><br>
    GoLite Typechecker Specs: <a href="http://www.cs.mcgill.ca/~cs520/2017/assignments/m2_typechecker.pdf">Typechecker</a><br>
    Course Website: <a href="http://www.cs.mcgill.ca/~cs520/2017/">Course Website</a>
    <p>
      Big thanks to Vince Fouley, and Alex Krolik for putting all the GoLite specification together!<br>

    </p>

  </md-tab>
  <md-tab label="About"  style="overflow-y: scroll;">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>GoLite to Javascript Compiler</md-card-title>
        <md-card-subtitle>Winners of the 2017 GoLite Contest</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="http://www.cs.mcgill.ca/~cs520/2017/images/GoLite2017_01.jpg">
      <md-card-content>
        <p>
          Authors: David Herrera, Adam Bognan and Maurice Zheng

        </p>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>

